.c-btn{
    width: 205px;
    height: 40px;
    display: flex;
    // background-color: #f49e09;
    .c-btn__txt{
        width: 76%;
        text-decoration: none;
        color: #000;
        padding: 12px;
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a{
        width: 21%;
        img{
            width: 100%;
        }
    }
}

.c-btn--explore{
    background-color: #f49e09;
}


.c-btn--discover{
    width: 180px;
    border: 1px solid #FFFF;
    .c-btn__txt{
        color: #FFFF;
        padding: 0px 20px 0px 2px;
    }
    a{
        width: 25%;
        img{
            width: 100%;
        }
    }
}

.c-btn--view{
    background-color: #f49e09;
    margin: 0 auto;
}