.c-btn {
    width: 160px;
    height: 40px;
    display: flex;
    // background-color: #f49e09;
    .c-btn__txt{
        width: 76%;
        text-decoration: none;
        color: #000;
        padding: 12px;
        font-size: 16px;
        font-family: 'Mulish', sans-serif;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
        img {
            width: 40px;
        }
    }

    &--readmore {
        margin-top: 240px;
        background-color: #f49e09;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    &--explore{
        background-color: #f49e09;
    }
    &--discover{
        width: 180px;
        border: 1px solid #FFFF;
        .c-btn__txt{
            color: #FFFF;
            padding: 0px 20px 0px 2px;
        }
        a{
            width: 25%;
            img{
                width: 100%;
            }
        }
    }
    &--view{
        width: 180px;
        background-color: #f49e09;
        margin: 0 auto;
        a{
            img{
                width: 40px;
            }
        }
    }
}

@media screen and (max-width:800px) {
    .c-btn {
        &--explore{
            background-color: #f49e09;
            width: 160px;
            a{
                width: 25%;
                img{
                    width: 100%;
                }
            }
        }
        &--discover{
            width: 180px;
            border: 1px solid #FFFF;
            .c-btn__txt{
                color: #FFFF;
                padding: 0px 20px 0px 2px;
            }
            a{
                width: 25%;
                img{
                    width: 100%;
                }
            }
        }
        &--view{
            width: 180px;
            background-color: #f49e09;
            margin: 0 auto;
            a{
                img{
                    width: 40px;
                }
            }
        }
    } 
}

